body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {cursor: pointer;}

/* #region header */

.nav-item-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404bbf;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio{
    color: #2e2f42;
}

.address-list{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-list:hover,
.address-list:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}



/* #endregion header */


/* #region section one */
.section-one{
    background-color: #2e2f42;
}

.effect-sol{font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}
.button:hover,
.button:focus{
background: #404bbf;
}

/* #endregion section one*/

.sec-two-logo{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-sec-two{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* #region section three */


.our-team{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.sec-list{
    background-color: #FFFFFF;
}

.section-three{
    background: #f4f4fd;

}

.name-team{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.about-team{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion section three*/

/*  #region section 4*/
.our-portfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.h-four{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}







/* #endregion section 4*/

/* #region footer */
.footer{
    background: #2e2f42;
}
.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

footer .logo-studio{
    color: #f4f4fd;
}

/* #endregion footer */